<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267426073393-pqg3cpv1manor13jtmo1qisl0ugvjipd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267426073393-pqg3cpv1manor13jtmo1qisl0ugvjipd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267426073393-ar098ok7fbd9f4l5bicncagh82qhettf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVH1JKz9Dln8DHxHu0R8FDiIUKlPMAtRg</string>
	<key>GCM_SENDER_ID</key>
	<string>267426073393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLovers</string>
	<key>PROJECT_ID</key>
	<string>flutter-lovers-a54cf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lovers-a54cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267426073393:ios:4f4b8f7ef252d2d19f7e10</string>
</dict>
</plist>